@import 'lib/colors';

body, html {
    background-color: map-get($colors, light-grey-0);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: map-get($colors, medium-grey-0);
}

h2 {
    color: map-get($colors, medium-grey-0);
}

.content-wrapper {
    background-color: white;
}

.color-swatch-table, table {
    width: 100%;
    padding: 20px;
}

.color-swatch-table, tr, td {
    th {
        color: map-get($colors, medium-grey-0);
        text-align: center;
    }
}

.color-swatch-group {
    list-style: none;
    margin-left: -20px;
    padding: 0px;
}

.color-swatch-item {
    min-width: 100px;
    height: 50px;
    line-height: 50px;
    margin-left: -20px;
    margin-top: -16px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    &.hex-dark {
        color: map-get($colors, medium-grey-3);
    }
    &.hex-light {
        color: map-get($colors, light-grey-0);
    }
}

@each $item, $color in $colors {
    .#{$item} {
        background-color: map-get($colors, $item);
    }
}